[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "fontawesome-markdown"]
	path = fontawesome-markdown
	url = https://github.com/bmcorser/fontawesome-markdown.git
